 :root {
  --text: #0d211c;
  --background: #ffffff;
  --primary: #c9788e;
  --secondary: #d7efe9;
  --accent: #9d3f58;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

.app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  background: var(--background);
}
.app .main{
  padding: 0 2rem;
  flex: 1;
 
}
a {
  color: inherit;
  text-decoration: none;
  list-style: none;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1{
  font-size: 2.5rem;
  color: var(--text);
}
 
